body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    color: rgb(61, 29, 142);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border: 1px solid gray;   
    text-align: center;
}
.grid_pro{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    padding: auto;
    margin: 20px;
}
button{
    color: white;
    background-color: rgb(77,184,72);
    text-align: center;
    border: none;
   padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    
    font-size: 15px; 
    margin-top: 40px;
}
button:hover{
    cursor: pointer;
}
.grid_pro p,a{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    
}
.grid_pro > div{
 height: 70px;
}